@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

:root {
   --font-family: "Poppins";
}

header.header__bar {
   padding: 35px;
   background-color: #2b9ce5;
}

.navbar__item-1 {
   padding: 40px;
}

.nav__item {
   align-items: center;
   display: flex;
}

.logo__item {
   width: 17%;
   display: flex;
   align-items: center;
}

.logo__item input[type="checkbox"] {
   width: 20px;
   height: 20px;
   cursor: pointer;
   padding: 15px;
}

.content__item-side-1 {
   border-bottom: 1px solid #4444;
}

.content__item-side {
   position: absolute;
   height: 100vh;
   width: 77%;
   left: 19%;
   top: 139px;
}

.todo__done {
   border-bottom: solid 1px #4444;
   padding: 20px;
   background-color: #fafafa;
}

.search i {
   position: relative;
   left: 30px;
   z-index: 1;
}

.side__2 {
   border-left: solid 1px #4444;
   border-right: solid 1px #4444;
}

.icons__item {
   display: flex;
   align-items: center;
   justify-content: start;
}

.item__content {
   padding: 10px;
}

.item__content h6 {
   font-weight: bold;
}

.items_icon {
   justify-content: end;
   flex: auto;
   align-items: center;
}

.items_icon i {
   padding: 10px;
   background: none;
   color: #7d7d7d9c;
}

/* code css  */

.todo__done input[type="checkbox"] {
   padding: 20px;
}

.todo__done input[type="checkbox"]+.box:before,
.todo__done input[type="checkbox"]+.box:after {
   transition: all 0.3s;
}

.todo__done input[type="checkbox"]:checked+.box:after {
   background-color: #2196f3;
   border-color: #2196f3;
}

.todo__done input[type="checkbox"]:checked+.box:before {
   transform: rotate(45deg);
   position: absolute;
   left: 7px;
   top: 0px;
   width: 6px;
   height: 13px;
   border-width: 2px;
   border-style: solid;
   border-top: 0;
   border-left: 0;
   border-color: #fff;
   content: "";
   z-index: 10000;
}

.title__todo textarea {
   width: 100%;
   max-width: 100%;
   height: 70px;
   max-height: 150px;
}

.title__item-1 span {
   font-family: var(--font-family);
   font-weight: bold;
}

.title__item-2 span {
   font-family: var(--font-family);
   font-weight: bold;
}

.title__item-2 .add {
   font-size: 20px;
}

.btn-add {
   padding-top: 50px;
   padding-left: 50px;
}

.side__1 button {
   border: none;
   color: #fff;
   background: #2b9ce5;
   padding: 5px !important;
   width: 200px;
   border-radius: 3px;
   padding-top: 20px;
   font-family: var(--font-family);
   font-weight: bolder;
   font-size: 18px;
   text-transform: uppercase;
}

.all-btn {
   position: relative;
   right: 20px;
   border-radius: 0 20px 20px 0px;
   width: 17rem;
}

.all-btn a {
   background-color: #2b9ce5 !important;
}

.form-control {
   padding: 15px;
   position: relative;
   bottom: 20px;
   border-radius: 50px;
   border: none;
   font-family: var(--font-family);
   font-weight: bold;
}

.title__item-1 h6 {
   font-weight: 500;
   color: #444;
   text-transform: uppercase;
}

.form-control::placeholder {
   padding-left: 25px;
}

.search input[type="search"] {
   text-indent: 25px;
}

.sidebar__item>.side__1>.position-sticky {
   background-color: rgb(177, 177, 177);
}

.list-group a {
   border: none;
}

.row {
   padding-top: 20px;
}

.side__2 {
   background-color: #fff !important;
}

.side__3 {
   background-color: #fff !important;
}

.title__todo textarea {
   border: solid 1px #4444;
   border-radius: 5px;
   width: 500px !important;
   box-sizing: border-box;
   box-shadow: 20px 10px #ebebeb6b;
}


.col-md-6 input {
   border: solid 1px #4444;
   padding: 13px;
   border-radius: 5px;
   width: 230px;
   color: #4444;
   font-weight: bold;
   font-family: var(--font-family);
   box-sizing: border-box;
   box-shadow: 20px 10px #ebebeb6b;
}

.col-md-6 {
   padding-left: 2rem !important;
   width: 45% !important;
   gap: 3px;
}

.side__2 {
   padding: 0px !important;
}

.content__item-side-1 {
   border-top: solid 1px #4444;
   border-radius: 20px 20px 0 0 !important;
   background-color: #fff !important;
}

.content__item__side {
   border-right: solid 1px #4444 !important;
   height: 100vh;
}

.title__todo {
   padding-left: 2rem !important;
}

.todoApp {
   border-left: none !important;
   border-top: none !important;
   border-right: none !important;
}

.col-12 {
   padding-left: 2rem !important;
}

.col-12 button {
   background-color: #2b9ce5;
   border: none;
   text-transform: uppercase;
   font-weight: bold;
}

.btn-front-back {
   display: flex;
   gap: 20px;
   padding-top: 10px;
}

.btn-front span {
   background: #ebebeb;
   padding: 3px;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   font-weight: bold;
}

.btn-back span {
   background: #ebebeb;
   padding: 3px;
   border: none;
   border-radius: 5px;
   font-size: 14px;
   font-weight: bold;
}

.list-group a {
   width: 300px;
}

.list-group-item {
   display: flex;
   align-items: center;
   gap: 10px;
}

.addtags {
   font-weight: bold;
   color: #4444;

}

.tag {
   color: green;
   font-weight: 700;
}

.add__tag {
   width: 500px;
}



@media (max-width: 767px) {
   body {
      padding: 0px;
      margin: 0px;
   }

   .content__item-side {
      display: flex;
      left: 40px;
   }

   .logo__item {
      display: none;
   }

   .btn-add {
      width: 100%;
      display: flex;
      justify-content: center;
      padding: 20px 10px;
   }

   .sidebar__item .btn-add button {
      width: 100%;
   }

   .sidebar__item {
      width: 100%;
   }

   .content__item-side {
      position: absolute;
      top: 40%;
   }

   .content__item-side {
      display: flex !important;
   }

   .content__item__side {
      display: flex;
      flex-direction: column !important;
      border: none !important;
   }

   .side__2 {
      width: 100% !important;
      border: none !important;
   }

   .todo__forms {
      padding-top: 20px;
   }

   .todoApp {
      width: 100% !important;
   }

   .title__todo textarea {
      width: auto !important;
   }

   .title__todo {
      padding: 0px !important;
   }

   .col-md-6 {
      padding: 0px !important;
      width: 100% !important;
   }

   .col-md-6 input {
      width: 100%;
   }

   .side__3 {
      width: 100% !important;
   }

   .title__todo textarea {
      width: 100% !important;
   }

   .side__1 {
      width: 100% !important;
   }
}

@media (min-width: 768px) and (max-width: 980px) {
   body {
      padding: 0px;
      margin: 0px;
   }

   .logo__item {
      display: none;
   }

   .content__item-side {
      padding-top: 20rem;
   }

   .content__item-side {
      display: flex;
      left: 40px;
   }

   .content__item__side {
      display: flex;
      flex-direction: column !important;
      border: none !important;
   }

   .side__2 {
      width: 100% !important;
      border: none !important;
   }

   .todoApp {
      width: 100% !important;
   }

   .title__todo textarea {
      width: auto !important;
   }

   .title__todo {
      padding: 0px !important;
   }

   .col-md-6 {
      padding: 0px !important;
      width: 100% !important;
   }

   .side__3 {
      width: 100% !important;
   }

   .title__todo textarea {
      width: 100% !important;
   }

   .side__1 {
      width: 100% !important;
   }

   .col-md-6 input {
      width: 100%;
   }
}

input[type="date"]:before {
   color: lightgrey;
   content: attr(placeholder) !important;
   margin-right: 0.5em;
}

input[type="date"]:focus:before {
   content: "" !important;
}

.form-check-label {
   color: #fff;
   margin-left: 10px;
   font-size: 25px;
}

.btn-front span i {
   font-size: 10px;
   color: #dd5e8c;
}

.btn-back span i {
   font-size: 10px;
   color: #512da8;
}

.btn-front span {
   display: flex;
   align-items: center;
   gap: 5px;
}

.btn-back span {
   display: flex;
   align-items: center;
   gap: 5px;
}

.all-btn a {
   display: flex;
   align-items: center;
   gap: 10px;
}

.icons__item span {
   font-size: 25px;
}

.todoApp {
   padding-left: 20px;
}

.logo__item span {
   font-size: 25px;
}

.logo__item span i {
   border: solid 3px #fff;
   color: #fff;
}